* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(207, 222, 222);
}
main {
    text-align: center;
    justify-self: center;
}
img {
    display: block;
    animation: fade 15s;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}